@model Domain.ViewModel.LeaveType.LeaveTypeSearchVm
@{
    ViewData["Title"] = "Leave Type Search";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-sm-12 default-according">
        <div class="card">
            <div class="card-header p-4">
                <h5>Leave Type</h5>
                <div class="setting-list">
                    @*<a asp-action="Create" asp-controller="LeaveType" class="btn btn-primary">Add Leave Type</a>*@
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="LeaveTypeSearchTable" class="display" style="width:100%; text-align: left">
                        <thead>
                            <tr>
                                <th style="width: 5%">Serial</th>
                                <th>Type Name</th>
                                <th>Balance</th>
                                <th>Gender</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/ETL/LeaveType/LeaveTypeSearch.js"></script>
}