@model Domain.ViewModel.Department.DepartmentVm

<div class="row">
    <div class="col-sm-12 default-according">
        <div class="card">
            <div class="card-header p-4">
                <h5>Create Academic Department</h5>
                <div class="setting-list">
                    <a asp-action="SearchAcademicDepartment" asp-controller="Department" class="btn btn-primary">Search Academic Department</a>
                </div>
            </div>
            <form asp-action="CreateAcademicDepartment" class="form theme-form">
                @Html.HiddenFor(c => c.IsAcademic)
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Department Name *</label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Name" type="text" placeholder="Enter department name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Department Code *</label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Code" type="text" placeholder="Enter department code">
                                    <span asp-validation-for="Code" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3 row">
                                <label class="col-sm-3 col-form-label">Remarks</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="4" asp-for="Remarks"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <div class="col-sm-9 offset-sm-3">
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <input class="btn btn-light" type="reset" value="Clear">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>